{% load i18n %}

<table class="table-list">
    <thead>
        <tr>
            <th scope="col">{% translate "Serial" %}</th>
            <th scope="col">{% trans "Product" %}</th>
            <th scope="col">{% translate "Name" %}</th>
            <th scope="col">{% translate "Price" %}</th>
            <th scope="col">{% translate "brand" %}</th>
            <th scope="col">{% translate "quantity" %}</th>
            <th scope="col">{% translate "action" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart_detail %}
            <tr>
                <td class="table-serial"><h6>{{forloop.counter}}</h6></td>
                <td class="table-image"><img src="{{item.product.image.url}}" alt="product"></td>
                <td class="table-name"><h6>{{item.product}}</h6></td>
                <td class="table-price"><h6>${{item.product.price}}</h6></td>
                <td class="table-brand"><h6>{{item.product.brand}}</h6></td>
                <td class="table-quantity"><h6>{{item.quantity}}</h6></td>
                <td class="table-action">
                    <a class="view" href="{{item.product.get_absolute_url}}" title="Quick View"><i class="fas fa-eye"></i></a>
                    <a class="trash product-delete-checkout" href="#" data-id="{{item.id}}" title="{% translate "Remove From Cart" %}"><i class="icofont-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>