{% load i18n %}

<table class="table-list">
    <thead>
        <tr>
            <th scope="col">{% translate "Serial" %}</th>
            <th scope="col">{% trans "Product" %}</th>
            <th scope="col">{% trans "Name" %}</th>
            <th scope="col">{% trans "Price" %}</th>
            <th scope="col">{% trans "description" %}</th>
            <th scope="col">{% trans "status" %}</th>
            {% comment %} <th scope="col">shopping</th> {% endcomment %}
            <th scope="col">{% trans "action" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for product in user.Profile.favorites.all %}
            <tr>
                <td class="table-serial"><h6>{{forloop.counter|stringformat:"02d"}}</h6></td>
                <td class="table-image"><img src="{{product.image.url}}" alt="product"></td>
                <td class="table-name"><h6>{{product}}</h6></td>
                <td class="table-price"><h6>${{product.price}}</h6></td>
                <td class="table-desc"><p>{{product.desc|safe|truncatewords:7}}<a href="{% url 'products:product_detail' product.slug %}">read more</a></p></td>
                {% if product.quantity >= 1 %}
                    <td class="table-status"><h6 class="stock-in">{% trans "stock in" %}</h6></td>
                {% else %}
                    <td class="table-status"><h6 class="stock-out">{% trans "stock out" %}</h6></td>
                {% endif %}
                {% comment %} <td class="table-shop">
                    <button class="product-add" title="{% trans "Add to Cart" %}">{% trans "add to cart" %}</button>
                    <div class="product-action">
                        <button class="action-minus" title="Quantity Minus"><i class="icofont-minus"></i></button>
                        <input class="action-input" title="Quantity Number" type="text" name="quantity" value="1">
                        <button class="action-plus" title="Quantity Plus"><i class="icofont-plus"></i></button>
                    </div>
                </td> {% endcomment %}
                <td class="table-action">
                    <a class="view" href="{{product.get_absolute_url}}" title="{% trans "View Product" %}" data-bs-toggle="modal" data-bs-target="#product-view"><i class="fas fa-eye"></i></a>
                    <a class="trash remove-from-wishlist" data-id="{{product.id}}" href="#" title="{% trans "Remove From Wishlist" %}"><i class="icofont-trash"></i></a>
                </td>
            </tr>
        {% endfor %}

    </tbody>
</table>