{% extends 'base.html' %} 
{% load static %}
{% load i18n %}



{% block link %}
  {% if LANGUAGE_CODE == 'en' %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
  {% else %}
    <link rel="stylesheet" href="{% static 'rtl_static/css/index.css' %}"/>
  {% endif %}
  
{% endblock link %}

{% block body %}
<!--=====================================
                BANNER PART START
    =======================================-->
<section class="home-index-slider slider-arrow slider-dots">
  {% for banner in banners %}
  <div class="banner-part banner-1">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 col-lg-6">
          <div class="banner-content">
            <h1>{{banner.title}}</h1>
            <p>{{banner.sub_title}}</p>
            <div class="banner-btn">
              <a class="btn btn-inline" href="{% url 'products:product_list' %}">
                <i class="fas fa-shopping-basket"></i>
                <span>{% translate "shop now" %}</span>
              </a>
              <a class="btn btn-outline" href="offer.html">
                <i class="icofont-sale-discount"></i>
                <span>get offer</span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6">
          <div class="banner-img">
            <img src="{{banner.image.url}}" alt="index" />
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</section>
<!--=====================================
                    BANNER PART END
        =======================================-->

<!--=====================================
                    SUGGEST PART START
        =======================================-->
<section class="section suggest-part">
  <div class="container">
    <ul class="suggest-slider slider-arrow">
      {% for category in categories %}
      <li>
        <a class="suggest-card" href="">
          <img src="{{category.image.url}}" alt="suggest" />
          <h5>{{category}} <span>{{category.product_count}} {% translate "items" %}</span></h5>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
<!--=====================================
                SUGGEST PART END
  =======================================-->

<!--=====================================
                RECENT PART START
    =======================================-->

<!--=====================================
                    RECENT PART END
        =======================================-->


<!--=====================================
                    FEATURED PART START
=======================================-->
<section class="section feature-part">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h2>{% translate "our featured items" %}</h2>
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2">
      {% for product in featured %}
        <div class="col">
          <div class="feature-card">
            <div class="feature-media">
              <div class="feature-label">
                <label class="label-text {% if product.flag == "New" %}new{% elif product.flag == "Featured" %}feat{% endif %}">{% translate product.flag %}</label>
              </div>
              <form id="addToFavForm" data-form-id="{{product.id}}">
                <button class="product-wish wish {% if product in user.Profile.favorites.all %}active{% endif %}" id="favorite-{{product.id}}">
                    <i class="fas fa-heart"></i>
                </button>
              </form>
              <a class="feature-image" href="{% url 'products:product_detail' product.slug %}">
                <img src="{{product.image.url}}" alt="product" />
              </a>
              <div class="feature-widget">
                {% if product.video_url %}
                  <a
                    title="Product Video"
                    href="{{product.video_url}}"
                    class="venobox fas fa-play"
                    data-autoplay="true"
                    data-vbtype="video"
                  ></a>
                {% endif %}
              </div>
            </div>
            <div class="feature-content">
              <h6 class="feature-name">
                <a href="{{product.get_absolute_url}}">{{product}}</a>
              </h6>
              <div class="feature-rating">
                <i class="{% if product.get_avg_reviews.myavg|floatformat:"0" >= "1" %} active {% endif %} icofont-star"></i>
                <i class="{% if product.get_avg_reviews.myavg|floatformat:"0" >= "2" %} active {% endif %} icofont-star"></i>
                <i class="{% if product.get_avg_reviews.myavg|floatformat:"0" >= "3" %} active {% endif %} icofont-star"></i>
                <i class="{% if product.get_avg_reviews.myavg|floatformat:"0" >= "4" %} active {% endif %} icofont-star"></i>
                <i class="{% if product.get_avg_reviews.myavg|floatformat:"0" >= "5" %} active {% endif %} icofont-star"></i>
                <a href="{{product.get_absolute_url}}#reviews-section">({{product.product_review.all|length}} {% trans "Reviews" %})</a>
              </div>
              <h6 class="feature-price">
                {% if product.price_before_discount %}
                    <del>${{product.price_before_discount}}</del>
                {% endif %}
                <span>${{product.price}}</span>
              </h6>
              <p class="feature-desc">
                {{product.desc|safe|truncatewords:15}}
              </p>
              <form method="post" id="addToCartForm" action="{% url 'orders:add_to_cart' %}">
                {% csrf_token %}
                <input type='hidden' name="quantity" value="1">
                <input type="hidden" name="productid" value="{{product.id}}">
                <button class="product-add feature-add product-add-to-cart" title="{% translate "Add to Cart" %}">
                  <i class="fas fa-shopping-basket"></i>
                  <span>{% trans "add" %}</span>
                </button>

                <div class="checkout-action">
                  <a class="product-add" href="{% url 'orders:checkout' %}" title="{% translate "Proceed to Checkout" %}">
                      <span>{% translate "Proceed to Checkout" %}</span>
                  </a>
                </div>
              </form>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="section-btn-25">
          <a href="{% url 'products:product_list' %}" class="btn btn-outline">
            <i class="fas fa-eye"></i>
            <span>{% translate "show more" %}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
  <!--=====================================
              FEATURE PART END
  =======================================-->

  <!--=====================================
              COUNTDOWN PART START
  =======================================-->
  <section class="section countdown-part">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 mx-auto">
          <div class="countdown-content">
            <h3>{% translate "special discount offer for vegetable items" %}</h3>
            <p>
              Reprehenderit sed quod autem molestiae aut modi minus veritatis iste
              dolorum suscipit quis voluptatum fugiat mollitia quia minima
            </p>
            <div class="countdown countdown-clock" data-countdown="2023/6/16">
              <span class="countdown-time"
                ><span>00</span><small>{% translate "days" %}</small></span
              >
              <span class="countdown-time"
                ><span>00</span><small>{% translate "hours" %}</small></span
              >
              <span class="countdown-time"
                ><span>00</span><small>{% translate "minutes" %}</small></span
              >
              <span class="countdown-time"
                ><span>00</span><small>{% translate "secconds" %}</small></span
              >
            </div>
            <a href="{% url 'products:product_list' %}" class="btn btn-inline">
              <i class="fas fa-shopping-basket"></i>
              <span>{% translate "shop now" %}</span>
            </a>
          </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-5">
          <div class="countdown-img">
            <img src="{% static 'images/countdown.png' %}" alt="countdown" />
            <div class="countdown-off">
              <span>20%</span>
              <span>{% translate "off" %}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=====================================
              COUNTDOWN PART END
  =======================================-->

  <!--=====================================
              NEW ITEM PART START
  =======================================-->
<section class="section newitem-part">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section-heading">
          <h2>{% translate "collected new items" %}</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ul class="new-slider slider-arrow">
          {% for product in new %}
            <li>
              {% include 'products/include/extend/product_card.html' %}
            </li>
            <!--=====================================
                        PRODUCT VIEW START
            =======================================-->

            <!--=====================================
                        PRODUCT VIEW END
            =======================================-->
          {% endfor %}

        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="section-btn-25">
          <a href="{% url 'products:product_list' %}" class="btn btn-outline">
            <i class="fas fa-eye"></i>
            <span>{% translate "show more" %}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=====================================
                    NEW ITEM PART END
        =======================================-->

<!--=====================================
                    PROMOTION PART START
        =======================================-->
<div class="section promo-part">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 px-xl-3">
        <div class="promo-img">
          <a href=""><img src="{% static 'images/promo/home/01.jpg' %}" alt="promo" /></a>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 px-xl-3">
        <div class="promo-img">
          <a href=""><img src="{% static 'images/promo/home/02.jpg' %}" alt="promo" /></a>
        </div>
      </div>
    </div>
  </div>
</div>
  <!--=====================================
                PROMOTION PART END
  =======================================-->

  <!--=====================================
                NICHE PART START
  =======================================-->

  <!--=====================================
                NICHE PART END
  =======================================-->

  <!--=====================================
              BRAND PART START
  =======================================-->
  <section class="section brand-part">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-heading">
            <h2>{% translate "shop by brands" %}</h2>
          </div>
        </div>
      </div>
      <div class="brand-slider slider-arrow">
        {% for brand in brands %}
          <div class="brand-wrap">
            <div class="brand-media">
              <img src="{{brand.image.url}}" alt="brand" />
              <div class="brand-overlay">
                <a href="{{brand.get_absolute_url}}"><i class="fas fa-link"></i></a>
              </div>
            </div>
            <div class="brand-meta">
              <h4>{{brand}}</h4>
              <p>({{brand.product_count}} {% translate "items" %})</p>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="section-btn-50">
            <a href="{% url 'products:brand_list' %}" class="btn btn-outline">
              <i class="fas fa-eye"></i>
              <span>{% translate "view all brands" %}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=====================================
              BRAND PART END
  =======================================-->

  <!--=====================================
              TESTIMONIAL PART START
  =======================================-->
  <section class="section testimonial-part">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-heading">
            <h2>{% translate "client's feedback" %}</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="testimonial-slider slider-arrow">
            {% for review in reviews %}
              <div class="testimonial-card">
                <i class="fas fa-quote-left"></i>
                <p>
                  {{review.review}}
                </p>
                <h5>{{review.user.uername}}</h5>
                <ul>
                  <li class="fas fa-star"></li>
                  <li class="fas fa-star"></li>
                  <li class="fas fa-star"></li>
                  <li class="fas fa-star"></li>
                  <li class="fas fa-star"></li>
                </ul>
                <img src="{{review.user.Profile.image.url}}" alt="testimonial" />
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=====================================
              TESTIMONIAL PART END
  =======================================-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
      $(document).ready(function(e){          
          $(document).on('submit', '#addToFavForm', function(e){
              e.preventDefault();

              const productId = e.target.getAttribute('data-form-id')
              const clickedBtn = document.getElementById(`favorite-${productId}`)
              
              $.ajax({
                  method : 'POST' ,
                  url : '/products/add_to_wish/' ,
                  data : {'productid':productId , 'csrfmiddlewaretoken': "{{csrf_token}}"},
                  dataType :'json',
                  success : function(response){
                      if (response['result']) {
                          $(clickedBtn).addClass('active');
                      } else {
                          $(clickedBtn).removeClass('active');
                      }
                      
                      let favoritesCount = response['favorites_count'] <= 9 ? response['favorites_count'] : '9+';
                      $('#favoritesCount').text(favoritesCount);
                  },
                  error : function(err){
                      console.log(err)
                  }
              })
          }),

          $(document).on('submit', '#addToCartForm', function(e){
              e.preventDefault();
              $.ajax({
                  type: $(this).attr('method'),
                  url:$(this).attr('action'),
                  data:$(this).serialize() ,
                  dataType:'json',
                  success:function(response){
                  console.log('added')
                      $('#cartSidebar').html(response['result'])

                      let cartCount = response['count'] <= 9 ? response['count'] : '9+';

                      document.getElementById('cartTotal').textContent=response['total']
                      document.getElementById('cartCount').textContent=cartCount
                  },
                  error:function(err){
                      console.log(err)
                  }
              })
          })
      })
      
  </script>
  
{% endblock body %}