


<div class="row row-cols-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-3">
    {% for product in product_list %}
        <div class="col">
            <div class="product-card">
                <div class="product-media">
                    <div class="product-label">
                        <label class="label-text new">{{product.flag}}</label>
                    </div>
                    <form id="addToFavForm" data-form-id="{{product.id}}">
                        <button class="product-wish wish {% if product in user.Profile.favorites.all %}active{% endif %}" id="favorite-{{product.id}}">
                            <i class="fas fa-heart"></i>
                        </button>
                    </form>
                    <a class="product-image" href="product-video.html">
                        <img src="{{product.image.url}}" alt="product">
                    </a>
                    <div class="product-widget">
                        <a title="Product Compare" href="compare.html" class="fas fa-random"></a>
                        <a title="Product Video" href="https://youtu.be/9xzcVxSBbG8" class="venobox fas fa-play" data-autoplay="true" data-vbtype="video"></a>
                        <a title="Product View" href="#" class="fas fa-eye" data-bs-toggle="modal" data-bs-target="#product-view"></a>
                    </div>
                </div>
                <div class="product-content">
                    <div class="product-rating">
                        <i class="active icofont-star"></i>
                        <i class="active icofont-star"></i>
                        <i class="active icofont-star"></i>
                        <i class="active icofont-star"></i>
                        <i class="icofont-star"></i>
                        <a href="product-video.html">(3)</a>
                    </div>
                    <h6 class="product-name">
                        <a href="{% url 'products:product_detail' product.slug %}">{{product.name}}</a>
                    </h6>
                    <h6 class="product-price">
                        <del>$34</del>
                        <span>${{product.price}}<small>/piece</small></span>
                    </h6>
                    <button class="product-add" title="Add to Cart">
                        <i class="fas fa-shopping-basket"></i>
                        <span>add</span>
                    </button>
                    <div class="product-action">
                        <button class="action-minus" title="Quantity Minus"><i class="icofont-minus"></i></button>
                        <input class="action-input" title="Quantity Number" type="text" name="quantity" value="1">
                        <button class="action-plus" title="Quantity Plus"><i class="icofont-plus"></i></button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% if is_paginated %}
    <div class="row">
        <div class="col-lg-12">
            <div class="bottom-paginate">
                <p class="page-info">Showing 12 of 60 Results</p>
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                <i class="fas fa-long-arrow-alt-left"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="fas fa-long-arrow-alt-left disabled"></li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="page-item"><a class="page-link active" href="#">{{ i }}</a></li>
                        {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="fas fa-long-arrow-alt-right disabled"></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}