{% load static %}
{% load i18n %}

<h3 class="frame-title" id="reviews-section">{% translate "Reviews" %} ({{reviews|length}})</h3>

<ul class="review-list">
    {% for review in reviews %}
    <li class="review-item">
        <div class="review-media">
            <a class="review-avatar" href="#">
                {% if review.user.Profile.image %}
                    <img src="{{review.user.Profile.image.url}}" alt="review">
                {% else %}
                    <img src="{% static 'images/user.png' %}" alt="review">
                {% endif %}
            </a>
            <h5 class="review-meta">
                <a href="#">{{review.user}}</a>
                <span>{{review.created_at|date:"F d, Y"}}</span>
            </h5>
        </div>
        <ul class="review-rating">
            <li class="{% if review.rate >= 1 %}icofont-ui-rating{% endif %}"></li>
            <li class="{% if review.rate >= 2 %}icofont-ui-rating{% else %}icofont-ui-rate-blank{% endif %}"></li>
            <li class="{% if review.rate >= 3 %}icofont-ui-rating{% else %}icofont-ui-rate-blank{% endif %}"></li>
            <li class="{% if review.rate >= 4 %}icofont-ui-rating{% else %}icofont-ui-rate-blank{% endif %}"></li>
            <li class="{% if review.rate == 5 %}icofont-ui-rating{% else %}icofont-ui-rate-blank{% endif %}"></li>
        </ul>
        <p class="review-desc">{{review.review}}</p>
    </li>
    {% endfor %}
</ul>