{% load i18n %}


<div class="cart-header">
    <div class="cart-total">
        <i class="fas fa-shopping-basket"></i>
        <span>{% translate "total item" %} ({{cart_detail|length}})</span>
    </div>
    <button class="cart-close"><i class="icofont-close"></i></button>
</div>
<ul class="cart-list" id="cartList">
    {% for item in cart_detail %}
        <li class="cart-item ">
            <div class="cart-media">
            <a href="#"><img src="{{item.product.image.url}}" alt="product" /></a>
            <form id="cartProductDeleteForm" method="post">
                <!-- {% csrf_token %} -->
                <button class="cart-delete" id="cartDelete" >
                    <i class="far fa-trash-alt"></i>
                </button>
                <input type="hidden" value="{{item.id}}" name="order_id" id="productIdDelete">
            </form>
            </div>
            <div class="cart-info-group">
            <div class="cart-info">
                <h6><a href="product-single.html">{{item.product}}</a></h6>
                {{item.pk}}
                <p>{% translate "Unit Price" %} - ${{item.price|floatformat:2}}</p>
            </div>
            <div class="cart-action-group">
                <div class="product-action">
                <button class="action-minus" title="Quantity Minus">
                    <i class="icofont-minus"></i>
                </button>
                <input
                    class="action-input"
                    title="Quantity Number"
                    type="text"
                    name="quantity"
                    value="{{item.quantity}}"
                />
                <button class="action-plus" title="Quantity Plus">
                    <i class="icofont-plus"></i>
                </button>
                </div>
                <h6>${{item.total|floatformat:2}}</h6>
            </div>
            </div>
        </li>
    {% endfor %}
</ul>
<div class="cart-footer">
<button class="coupon-btn">{% translate "Do you have a coupon code?" %}</button>
<form class="coupon-form">
    <input type="text" placeholder="Enter your coupon code" />
    <button type="submit"><span>{% translate "apply" %}</span></button>
</form>
<a class="cart-checkout-btn" href="checkout.html">
    <span class="checkout-label">{% translate "Proceed to Checkout" %}</span>
    <span class="checkout-price">${{cart.get_total|floatformat:2}}</span>
</a>
</div>