{% extends 'base.html' %}
{% load static %}
{% load i18n %}



{% block link %}
    {% if LANGUAGE_CODE == 'ar' %}
        <link rel="stylesheet" href="{% static 'rtl_static/css/checkout.css' %}">
    {% else %}
        <link rel="stylesheet" href="{% static 'css/checkout.css' %}">
    {% endif %}
{% endblock link %}

{% block title %}{% translate "Checkout" %}{% endblock title %}

{% block body %}
    <!--=====================================
                BANNER PART START
    =======================================-->
    <section class="inner-section single-banner" style="background: url(images/single-banner.jpg) no-repeat center;">
        <div class="container">
            <h2>checkout</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="shop-4column.html">shop grid</a></li>
                <li class="breadcrumb-item active" aria-current="page">checkout</li>
            </ol>
        </div>
    </section>
    <!--=====================================
                BANNER PART END
    =======================================-->


    <!--=====================================
                CHECKOUT PART START
    =======================================-->
    <section class="inner-section checkout-part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                </div>
                <div class="col-lg-12">
                    <div class="account-card">
                        <div class="account-title">
                            <h4>{% translate "Your order" %}</h4>
                        </div>
                        <div class="account-content">
                            <div id='checkoutProductsSection' class="table-scroll">
                                {% include 'include/real-time/checkout_products_section.html' %}
                            </div>
                            <div class="chekout-coupon">
                                <button class="coupon-btn">{% translate "Do you have a coupon code?" %}</button>
                                <form class="coupon-form">
                                    <input type="text" id="couponcode" placeholder="{% translate "Enter your coupon code" %}">
                                    <button type="submit" id="apply-coupon"><span>{% translate "apply" %}</span></button>
                                </form>
                            </div>
                            <div class="checkout-charge" id="total-div">
                                {% include "include/total.html" %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="account-card">
                        <div class="account-title">
                            <h4>{% translate "contact number" %}</h4>
                            <a href="{% url 'accounts:profile' %}">{% trans "edit contacts" %}</a>
                        </div>
                        <div id="contactNumbersSection">
                            <div class="account-content">
                                <div class="row">
                                    {% for number in numbers %}
                                        <div class="col-md-6 col-lg-4 alert fade show">
                                            <div class="profile-card contact {% if number.active %}active{% endif %}" data-id='{{number.id}}'>
                                                <h6 id="phoneType">{{number.type}}</h6>
                                                <p id="phoneNumber">{{number.phone_number}}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="account-card">
                        <div class="account-title">
                            <h4>{% translate "delivery address" %}</h4>
                            <a href="{% url 'accounts:profile' %}">{% translate "edit addresses" %}</a>
                        </div>
                        <div id="addressesSection">
                            <div class="account-content">
                                <div class="row">
                                    {% for address in user_adress %}
                                        <div class="col-md-6 col-lg-4 alert fade show">
                                            <div class="profile-card address  {% if address.active %}active{% endif %}" data-id='{{address.id}}'>
                                                <h6>{{address.type}}</h6>
                                                <p>{{address.country}}, {{address.city}}, {{address.state}}. {{address.region}}, {{address.street}}, {{address.notes}}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="checkout-check">
                            <input type="checkbox" id="checkout-check">
                            <label for="checkout-check">{% translate "By making this purchase you agree to our" %} <a href="#">{% translate "Terms and Conditions" %}</a>.</label>
                        </div>
                        <div class="checkout-proced">
                            <a href="#" class="btn btn-inline">{% translate "complete the purchase" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=====================================
                CHECKOUT PART END
    =======================================-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(function(e){
            $(document).on('click','#apply-coupon', function(e){
                e.preventDefault();
                let code = document.getElementById("couponcode").value;
                $.ajax({
                    type:'POST' ,
                    url: '{% url "orders:checkout" %}' ,
                    data:{'code':code , 'csrfmiddlewaretoken': "{{csrf_token}}"} ,
                    dataType:'json' ,
                    success:function(response){
                        $("#total-div").html(response['result'])

                    } ,
                    error:function(err){
                        console.log(err)
                    }
                })
            })
        })



        $('#contactNumbersSection').on('click', '.profile-card.contact', function(){
            $('.profile-card.contact').removeClass('active');
            $(this).addClass('active');

            const csrftoken = getCookie('csrftoken');
            var numberId = $(this).data('id');

            $.ajax({
                type: 'post',
                url:'/accounts/profile/edit',
                data: {'number-id':numberId} ,
                headers:{"X-CSRFToken": csrftoken }, 
                dataType:'json',
                success:function(response){
                    console.log('added');
                },
                error:function(err){
                    console.log(err);
                }
            })
        });


        $('#addressesSection').on('click', '.profile-card.address', function(){
            $('.profile-card.address').removeClass('active');
            $(this).addClass('active');

            const csrftoken = getCookie('csrftoken');
            var addressId = $(this).data('id');

            $.ajax({
                type: 'post',
                url:'/accounts/profile/edit',
                data: {'address-id':addressId} ,
                headers:{"X-CSRFToken": csrftoken }, 
                dataType:'json',
                success:function(response){
                    console.log('added');
                },
                error:function(err){
                    console.log(err);
                }
            })
        });


        $(document).on('click', '.product-delete-checkout', function(e){
            e.preventDefault()
            const csrftoken = getCookie('csrftoken');
            const cartDetailId =  $(this).data('id');
            $.ajax({
                type:'post',
                url: `/orders/checkout/product/delete/`,
                data: {'order_id':cartDetailId} ,
                headers:{"X-CSRFToken": csrftoken }, // HERE: add it to the request header
                dataType: 'json',
                success:function(response){
                    $('#cartSidebar').html(response['cartside'])
                    $('#checkoutProductsSection').html(response['checkout'])

                    let cartCount = response['count'] <= 9 ? response['count'] : '9+';

                    document.getElementById('cartTotal').textContent=response['total']
                    document.getElementById('cartCount').textContent=cartCount
                },
                error:function(err){
                    console.log(err)
                }
            })
        })
    </script>

{% endblock body %}