{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block link %}
    {% if LANGUAGE_CODE == 'ar' %}
        <link rel="stylesheet" href="{% static 'rtl_static/css/orderlist.css' %}">
    {% else %}
        <link rel="stylesheet" href="{% static 'css/orderlist.css' %}">
    {% endif %}
    
{% endblock link %}

{% block title %}{% translate "Order History" %}{% endblock title %}

{% block body %}
    <!--=====================================
                BANNER PART START
    =======================================-->
    <section class="inner-section single-banner" style="background: url({% static 'images/single-banner.jpg' %}) no-repeat center;">
        <div class="container">
            <h2>{% translate "Order History" %}</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home:home_page' %}">{% trans "home" %}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{% translate "Order list" %}</li>
            </ol>
        </div>
    </section>
    <!--=====================================
                BANNER PART END
    =======================================-->


    <!--=====================================
                ORDERLIST PART START
    =======================================-->
    <section class="inner-section orderlist-part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="orderlist-filter">
                        <h5>{% translate "total order" %} <span>- ({{orders|length}})</span></h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    {% for order in orders %}
                        <div class="orderlist">
                            <div class="orderlist-head">
                                <h5>{% translate "order" %}#{{forloop.counter|stringformat:"02d"}}</h5>
                                <h5>{% translate  order.order_status %}</h5>
                            </div>
                            <div class="orderlist-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="order-track">
                                            <ul class="order-track-list">
                                                <li class="order-track-item {% if order.order_status == 'Recieved' or  order.order_status == 'Processed' or  order.order_status == 'Shipped' or  order.order_status == 'Delivered' %}active{% endif %}">
                                                    <i class="icofont-{% if order.order_status == 'Recieved' or  order.order_status == 'Processed' or  order.order_status == 'Shipped' or  order.order_status == 'Delivered' %}check{% endif %}"></i>
                                                    <span>{% translate "order received" %}</span>
                                                </li>
                                                <li class="order-track-item {% if order.order_status == "Processed" or order.order_status == "Shipped" or order.order_status == "Delivered" %} active {% endif %}">
                                                    <i class="icofont-{% if order.order_status == "Processed" or order.order_status == "Shipped" or order.order_status == "Delivered" %}check{% else %}close{% endif %}"></i>
                                                    <span>{% translate "order processed" %}</span>
                                                </li>
                                                <li class="order-track-item {% if order.order_status == "Shipped" or order.order_status == "Delivered" %}active{% endif %}">
                                                    <i class="icofont-{% if order.order_status == "Shipped" or order.order_status == "Delivered" %}check{% else %}close{% endif %}"></i>
                                                    <span>{% translate "order shipped" %}</span>
                                                </li>
                                                <li class="order-track-item {% if order.order_status == 'Delivered' %}active{% endif %}">
                                                    <i class="icofont-{% if order.order_status == 'Delivered' %}check{% else %}close{% endif %}"></i>
                                                    <span>{% translate "order delivered" %}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <ul class="orderlist-details">
                                            <li>
                                                <h6>{% translate "order id" %}</h6>
                                                <p>{{order.code}}</p>
                                            </li>
                                            <li>
                                                <h6>{% translate "Total Item" %}</h6>
                                                <p>{{order.get_items_count}} {% translate "Items" %}</p>
                                            </li>
                                            <li>
                                                <h6>{% translate "Order Time" %}</h6>
                                                <p>{{order.order_time|date:'jS F Y'}}</p>
                                            </li>
                                            <li>
                                                <h6>{% translate "Delivery Time" %}</h6>
                                                <p>{% if order.delivery_time %}{{order.delivery_time|date:'jS F Y'}}{% else %}-{% endif %}</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-4">
                                        <ul class="orderlist-details">
                                            <li>
                                                <h6>{% translate "Sub Total" %}</h6>
                                                <p>${{order.sub_total}}</p>
                                            </li>
                                            <li>
                                                <h6>{% translate "discount" %}</h6>
                                                <p>${{order.discount}}</p>
                                            </li>
                                            <li>
                                                <h6>{% translate "delivery fee" %}</h6>
                                                <p>${{order.delivery_fee}}</p>
                                            </li>
                                            <li>
                                                <h6>{% translate "Total" %}<small>(Incl. VAT)</small></h6>
                                                <p>${{order.total}}</p>
                                            </li>
                                        </ul>
                                    </div>
                                    {% if order.delivery_location %}
                                        <div class="col-lg-3">
                                            <div class="orderlist-deliver">
                                                <h6>{% translate "Delivery location" %}</h6>
                                                <p>{{order.delivery_location}}</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="col-lg-12">
                                        <div class="table-scroll">
                                            <table class="table-list">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">{% translate "Serial" %}</th>
                                                        <th scope="col">{% translate "Product" %}</th>
                                                        <th scope="col">{% translate "Name" %}</th>
                                                        <th scope="col">{% translate "Price" %}</th>
                                                        <th scope="col">{% translate "brand" %}</th>
                                                        <th scope="col">{% translate "quantity" %}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for detail in order.order_detail.all %}
                                                        <tr>
                                                            <td class="table-serial"><h6>{{forloop.counter}}</h6></td>
                                                            <td class="table-image"><img src="{{detail.product.image.url}}" alt="product"></td>
                                                            <td class="table-name"><h6>{{detail.product}}</h6></td>
                                                            <td class="table-price"><h6>${{detail.price}}</h6></td>
                                                            <td class="table-brand"><h6>{{detail.product.brand}}</h6></td>
                                                            <td class="table-quantity"><h6>{{detail.quantity}}</h6></td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    {% if orders.has_other_pages %}
                        <ul class="pagination">
                            {% if orders.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ orders.previous_page_number }}">
                                        <i class="fas fa-long-arrow-alt-left"></i>
                                    </a>
                                </li>
                            {% else %}
                                <li class="fas fa-long-arrow-alt-left disabled"></li>
                            {% endif %}
                        
                            {% for i in orders.paginator.page_range %} 
                                {% if orders.number == i %}
                                    <li class="page-item"><a class="page-link active" href="#">{{ i }}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
        
                            {% if orders.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ orders.next_page_number }}">
                                        <i class="fas fa-long-arrow-alt-right"></i>
                                    </a>
                                </li>
                            {% else %}
                                <li class="fas fa-long-arrow-alt-right disabled"></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!--=====================================
                ORDERLIST PART END
    =======================================-->

{% endblock body %}