{% load i18n %}

<ul>
    <li>
        <span>{% translate "Sub total" %}</span>
        <span>${{sub_total|floatformat:2}}</span>
    </li>
    <li>
        <span>{% translate "delivery fee" %}</span>
        <span>${{delivery_fee}}</span>
    </li>
    <li>
        <span>{% translate "discount" %}</span>
        <span>${{discount_value|floatformat:2}}</span>
    </li>
    <li>
        <span>{% translate "Total" %}<small>(Incl. VAT)</small></span>
        <span>${{total|floatformat:2}}</span>
    </li>
</ul>