{% extends 'auth_base.html' %}
{% load i18n %}

{% block body %}
        <!--=====================================
                    USER FORM PART START
        =======================================-->
        <section class="user-form-part">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-10 col-md-12 col-lg-12 col-xl-10">
                        <div class="user-form-logo mylogo">
                            <a href="{% url 'home:home_page' %}">Nour</a>
                        </div>
                        <div class="user-form-card">
                            <div class="user-form-title">
                                <h2>{% translate "welcome" %}!</h2>
                                <p>{% translate "Use your credentials to access" %}</p>
                            </div>
                            <div class="user-form-group">
                                <ul class="user-form-social">
                                    <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i>{% translate "login with facebook" %}</a></li>
                                    <li><a href="#" class="twitter"><i class="fab fa-twitter"></i>{% translate "login with twitter" %}</a></li>
                                    <li><a href="#" class="google"><i class="fab fa-google"></i>{% translate "login with google" %}</a></li>
                                    <li><a href="#" class="instagram"><i class="fab fa-instagram"></i>{% translate "login with instagram" %}</a></li>
                                </ul>
                                <div class="user-form-divider">
                                    <p>{% translate "or" %}</p>
                                </div>
                                <form class="user-form" method='post'>
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input type="text" class="form-control" name='username' placeholder="{% translate "Enter your email" %}">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" name='password' placeholder="{% translate "Enter your password" %}">
                                    </div>
                                    <div class="form-check mb-3">
                                        <input class="form-check-input" type="checkbox" value="" id="check">
                                        <label class="form-check-label" for="check">{% translate "Remember Me" %}</label>
                                    </div>
                                    <div class="form-button">
                                        <button type="submit">{% translate "login" %}</button>
                                        <p>{% translate "Forgot your password?" %}<a href="{% url 'password_reset' %}">{% translate "reset here" %}</a></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="user-form-remind">
                            <p>{% translate "Don't have any account?" %}<a href="{% url 'accounts:signup' %}">{% translate "register here" %}</a></p>
                        </div>
                        <div class="user-form-footer">
                            <p>&COPY; {% translate "Copyright by" %} <a href="https://www.nourmohamed.com">Nour Mohamed</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                    USER FORM PART END
        =======================================-->
    
{% endblock body %}
