{% extends 'auth_base.html' %}

{% load i18n %}

{% block body %}
        <!--=====================================
                    USER FORM PART START
        =======================================-->
        <section class="user-form-part">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
                        <div class="user-form-card">
                            <div class="user-form-title">
                                <h2>{% translate "worried?" %}</h2>
                                <p>{% translate "No Problem! Just Follow The Simple Way" %}</p>
                            </div>
                            <form class="user-form" method='post'>
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="email" class="form-control" name='email' placeholder="{% translate "Enter your email" %}">
                                </div>
                                <div class="form-button">
                                    <button type="submit">{% translate "get reset link" %}</button>
                                </div>
                            </form>
                        </div>
                        <div class="user-form-remind">
                            <p>{% translate "Go Back To" %}<a href="{% url 'login' %}">{% translate "login here" %}</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                    USER FORM PART END
        =======================================-->


{% endblock body %}





