{% extends 'auth_base.html' %}

{% load i18n %}

{% block body %}
  <div class="user-form-card">
    <div class="user-form-title">
        <h2>{% translate "password reset" %}</h2>
        <p>{% translate "done" %}</p>
    </div>
    <div class="user-form-group">
        <p>{% translate "password reset done" %}</p>
      </div>
    <div class="user-form-remind">
        <p>{% translate "continue shopping?" %}<a href="{% url 'home:home_page' %}">{% translate "home page" %}</a></p>
      </div>
  </div>
{% endblock body %}