{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block link %}
    {% if LANGUAGE_CODE == 'ar' %}
        <link rel="stylesheet" href="{% static 'rtl_static/css/profile.css' %}" />
    {% else %}
        <link rel="stylesheet" href="{% static 'css/profile.css' %}" />
    {% endif %}
{% endblock link %}

{% block title %}{% translate "Profile" %}{% endblock title %}

{% block body %}
        <!--=====================================
                    BANNER PART START
        =======================================-->
        <section class="inner-section single-banner" style="background: url(images/single-banner.jpg) no-repeat center;">
            <div class="container">
                <h2>my profile</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">profile</li>
                </ol>
            </div>
        </section>
        <!--=====================================
                    BANNER PART END
        =======================================-->

        <!--=====================================
                    PROFILE PART START
        =======================================-->
        <section class="inner-section profile-part">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="account-card">
                            <div class="account-title">
                                <h4>{% translate "Your Profile" %}</h4>
                                <button data-bs-toggle="modal" data-bs-target="#profile-edit">{% trans "edit profile" %}</button>
                            </div>
                            <div id="profileInfoSection">
                                {% include "include/real-time/profile_info_section.html" %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="account-card">
                            <div class="account-title">
                                <h4>{% translate "contact numbers" %}</h4>
                                <button data-bs-toggle="modal" data-bs-target="#contact-add">{% translate "add contact" %}</button>
                            </div>
                            <div id="contactNumbersSection">
                                {% include "include/real-time/contact_numbers_section.html" %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="account-card">
                            <div class="account-title">
                                <h4>{% translate "delivery addresses" %}</h4>
                                <button data-bs-toggle="modal" data-bs-target="#address-add">{% translate "add address" %}</button>
                            </div>
                            <div id="addressesSection">
                                {% include "include/real-time/addresses_section.html" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                    PROFILE PART END
        =======================================-->


        <!--=====================================
                    MODAL ADD FORM START
        =======================================-->
        <!-- contact add form -->
        <div class="modal fade" id="contact-add">
            <div class="modal-dialog modal-dialog-centered"> 
                <div class="modal-content">
                    <button class="modal-close" data-bs-dismiss="modal"><i class="icofont-close"></i></button>
                    <form class="modal-form" id="contactAddForm" method="post" action="{% url 'accounts:add_profile_number' %}">
                        <div class="form-title">
                            <h3>{% translate "add new contact" %}</h3>
                        </div>
                        <div class="form-group">
                            <label  class="form-label">{% translate "title" %}</label>
                            <select required name="type" class="form-select">
                                <option selected value="">{% translate "choose type" %}</option>
                                <option value="Home">{% translate "home" %}</option>
                                <option value="Bussiness">{% translate "bussiness" %}</option>
                                <option value="Office">{% translate "office" %}</option>
                                <option value="Others">{% trans "others" %}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label">{% translate "number" %}</label>
                            <input class="form-control" type="text" name="phone_number" required placeholder="{% trans "Enter your number" %}">
                        </div>
                        <button class="form-btn" type="submit">{% trans "save contact info" %}</button>
                    </form>
                </div> 
            </div> 
        </div>

        <!-- address add form -->
        <div class="modal fade" id="address-add">
            <div class="modal-dialog modal-dialog-centered"> 
                <div class="modal-content">
                    <button class="modal-close" data-bs-dismiss="modal"><i class="icofont-close"></i></button>
                    <form class="modal-form" id="addressAddForm" method="post" action="{% url 'accounts:add_profile_address' %}">
                        <div class="form-title">
                            <h3>{% translate "add new address" %}</h3>
                        </div>
                        <div class="form-group">
                            <label class="form-label">{% trans "title" %}</label>
                            <select required name="type" class="form-select">
                                <option selected>{% trans "choose type" %}</option>
                                <option value="Home">{% translate "Home" %}</option>
                                <option value="Bussiness">{% trans "Bussiness" %}</option>
                                <option value="Office">{% trans "Office" %}</option>
                                <option value="Others">{% trans "Others" %}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label">{% translate "country" %}</label>
                            <select required name="country" class="form-select">
                                <option selected>{% trans "choose type" %}</option>
                                {% for country in country_list %}
                                    <option value="{{country.id}}">{{country}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label">{% trans "city" %}</label>
                            <select required name="city" class="form-select">
                                <option selected>{% trans "choose type" %}</option>
                                {% for city in city_list %}
                                    <option value="{{city.id}}">{{city}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label">{% trans "state" %}</label>
                            <input required id="" class="form-control" name="state" type="text">
                            
                        </div>
                        <div class="form-group">
                            <label class="form-label">{% trans "region" %}</label>
                            <input required id="" class="form-control" name="region" type="text">
                            
                        </div>
                        <div class="form-group">
                            <label class="form-label">{% trans "street" %}</label>
                            <input required id="" class="form-control" name="street" type="text">
                        </div>
                        <div class="form-group">
                            <label class="form-label">{% trans "notes" %}</label>
                            <textarea class="form-control" name="notes"></textarea>
                        </div>
                        <button class="form-btn" type="submit">{% trans "save address info" %}</button>
                    </form>
                </div> 
            </div> 
        </div>
        <!--=====================================
                    MODAL ADD FORM END
        =======================================-->

        
        <!--=====================================
                    MODAL EDIT FORM START
        =======================================-->
        <!-- profile edit form -->
        <div class="modal fade" id="profile-edit">
            <div class="modal-dialog modal-dialog-centered"> 
                <div class="modal-content">
                    <button class="modal-close" data-bs-dismiss="modal"><i class="icofont-close"></i></button>
                    <form class="modal-form" id="profileInfoForm" method="post" action="{% url 'accounts:edit_profile_info' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-title">
                            <h3>{% trans "edit profile info" %}</h3>
                        </div>
                        <div class="form-group">
                            <label class="form-label">{% trans "photo" %}</label>
                            <input class="form-control" name="image" type="file" >
                        </div>
                        <div class="form-group">
                            <label class="form-label">{% trans "first name" %}</label>
                            <input class="form-control" type="text" name="first_name" value="{{profile.first_name}}">
                        </div>
                        <div class="form-group">
                            <label class="form-label">{% trans "last name" %}</label>
                            <input class="form-control" type="text" name="last_name" value="{{profile.last_name}}">
                        </div>
                        <button class="form-btn" type="submit">{% trans "save profile info" %}</button>
                    </form>
                </div> 
            </div> 
        </div>

        <!-- contact edit form -->
        <div class="modal fade contact-edit-modal" id="contact-edit">
            <div class="modal-dialog modal-dialog-centered"> 
                <div class="modal-content">
                    <button class="modal-close" data-bs-dismiss="modal"><i class="icofont-close"></i></button>
                    <form class="modal-form" id="contactEditForm" method="post" action="{% url 'accounts:edit_profile_number' %}">
                        {% comment %} {% csrf_token %} {% endcomment %}
                        <div class="form-title">
                            <h3>edit contact info</h3>
                        </div>
                        <div class="form-group">
                            <label class="form-label">title</label>
                            <select id="editTypeSelect" class="form-select" name="type">
                                <option value="Home">Home</option>
                                <option value="Bussiness">Bussiness</option>
                                <option value="Office">Office</option>
                                <option value="Others">Others</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label">number</label>
                            <input required id="editNumberInput" class="form-control" name="phone_number" type="text">
                            <input type="hidden" id="numberId" name="id" value="">
                        </div>
                        <button class="form-btn" type="submit">save contact info</button>
                    </form>
                </div> 
            </div> 
        </div>



        <!--=====================================
                    MODAL EDIT FORM END
        =======================================-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>



            $(document).ready(function(e){
                $('#contactNumbersSection').on('click', '.profile-card.contact', function(){
                    $('.profile-card.contact').removeClass('active');
                    $(this).addClass('active');

                    const csrftoken = getCookie('csrftoken');
                    var numberId = $(this).data('id');

                    $.ajax({
                        type: 'post',
                        url:'/accounts/profile/edit',
                        data: {'number-id':numberId} ,
                        headers:{"X-CSRFToken": csrftoken }, 
                        dataType:'json',
                        success:function(response){
                            console.log('added');
                        },
                        error:function(err){
                            console.log(err);
                        }
                    })
                });


                $('#addressesSection').on('click', '.profile-card.address', function(){
                    $('.profile-card.address').removeClass('active');
                    $(this).addClass('active');

                    const csrftoken = getCookie('csrftoken');
                    var addressId = $(this).data('id');

                    $.ajax({
                        type: 'post',
                        url:'/accounts/profile/edit',
                        data: {'address-id':addressId} ,
                        headers:{"X-CSRFToken": csrftoken }, 
                        dataType:'json',
                        success:function(response){
                            console.log('added');
                        },
                        error:function(err){
                            console.log(err);
                        }
                    })
                });

                $('#contactNumbersSection').on('click', '.edit-btn', function(e){
                    const phoneType = $(this).closest('div').find('#phoneType').text();
                    const phoneNumber = $(this).closest('div').find('#phoneNumber').text();
                    const numberId = $(this).closest('div').data('id');
                    

                    $('#editTypeSelect').val(phoneType);
                    $('#editNumberInput').val(phoneNumber);
                    $('#numberId').val(numberId);

                })
                $('#profileInfoForm').on('submit', function(e){
                    e.preventDefault();
                    const csrftoken = getCookie('csrftoken');

                    $.ajax({
                        type:$(this).attr('method'),
                        url:$(this).attr('action'),
                        data:$(this).serialize(),
                        headers:{"X-CSRFToken": csrftoken }, 
                        dataType:'json',
                        success:function(response){
                            $('#profileInfoSection').html(response['result']);
                            $('#profile-edit').modal('hide');
                            // $('#profileInfoForm')[0].reset();


                        },
                        error:function(err){
                            console.log(err);
                        }
                    })
                });


                $('#contactAddForm').on('submit', function(e){
                    e.preventDefault();
                    const csrftoken = getCookie('csrftoken');

                    $.ajax({
                        type:$(this).attr('method'),
                        url:$(this).attr('action'),
                        data:$(this).serialize(),
                        headers:{"X-CSRFToken": csrftoken }, 
                        dataType:'json',
                        success:function(response){
                            $('#contactNumbersSection').html(response['result']);
                            $('#contact-add').modal('hide');
                            $('#contactAddForm')[0].reset();


                        },
                        error:function(err){
                            console.log(err);
                        }
                    })
                });

                
                $('#addressAddForm').on('submit', function(e){
                    e.preventDefault();
                    const csrftoken = getCookie('csrftoken');

                    $.ajax({
                        type:$(this).attr('method'),
                        url:$(this).attr('action'),
                        data:$(this).serialize(),
                        headers:{"X-CSRFToken": csrftoken }, 
                        dataType:'json',
                        success:function(response){
                            $('#addressesSection').html(response['result']);
                            $('#address-add').modal('hide');
                            $('#addressAddForm')[0].reset();


                        },
                        error:function(err){
                            console.log(err);
                        }
                    })
                })


                $('#contactEditForm').on('submit', function(e){
                    e.preventDefault();
                    const csrftoken = getCookie('csrftoken');
                    
                    $.ajax({
                        type:$(this).attr('method'),
                        url:$(this).attr('action'),
                        data:$(this).serialize(),
                        headers:{"X-CSRFToken": csrftoken}, 
                        dataType:'json',
                        success:function(response){
                            $('.contact-edit-modal').modal('hide');
                            $('#contactNumbersSection').html(response['result']);

                            
                        },
                        error:function(err){
                            console.log(err);
                        }
                    })
                })

                $('#addressesSection').on('submit', '.address-edit-form', function(e){
                    e.preventDefault();
                    const csrftoken = getCookie('csrftoken');
                    
                    $.ajax({
                        type:$(this).attr('method'),
                        url:$(this).attr('action'),
                        data:$(this).serialize(),
                        headers:{"X-CSRFToken": csrftoken }, 
                        dataType:'json',
                        success:function(response){
                            $('.contact-edit-modal').modal('hide');
                            $('#addressesSection').html(response['result']);    
                        },
                        error:function(err){
                            console.log(err);
                        }
                    })
                })

                $('#contactNumbersSection').on('click', '.delete-btn', function(){
                    const csrftoken = getCookie('csrftoken');
                    const numberId = $(this).closest('div').data('id');
                    
                    $.ajax({
                        type:'post',
                        url:'/accounts/profile/delete/contact',
                        data: {'id':numberId},
                        headers:{"X-CSRFToken": csrftoken },
                        dataType:'json',
                        success:function(response){
                            console.log('deleted')
                            $('#contactNumbersSection').html(response['result']);
                        }
                    })
                });

                $('#addressesSection').on('click', '.delete-btn', function(){
                    const csrftoken = getCookie('csrftoken');
                    const numberId = $(this).closest('div').data('id');
                    
                    $.ajax({
                        type:'post',
                        url:'/accounts/profile/delete/address',
                        data: {'id':numberId},
                        headers:{"X-CSRFToken": csrftoken },
                        dataType:'json',
                        success:function(response){
                            console.log('deleted')
                            $('#addressesSection').html(response['result']);
                        }
                    })
                });

            })
        </script>

{% endblock body %}



