{% extends 'base.html' %}
{% load i18n %}


{% block title %}{% translate "Wishlist" %}{% endblock title %}

{% block body %}
    <!--=====================================
                BANNER PART START
    =======================================-->
    <section class="inner-section single-banner" style="background: url(images/single-banner.jpg) no-repeat center;">
        <div class="container">
            <h2>wishlist</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="shop-4column.html">shop grid</a></li>
                <li class="breadcrumb-item active" aria-current="page">wishlist</li>
            </ol>
        </div>
    </section>
    <!--=====================================
                BANNER PART END
    =======================================-->


    <!--=====================================
                WISHLIST PART START
    =======================================-->
    <section class="inner-section wishlist-part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-scroll">
                        <div id="tableList">
                            {% include "include/real-time/wishlist-tablelist.html" %}
                        </div>
                    </div>
                </div>
            </div>
            {% comment %} <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mt-5">
                        <button class="btn btn-outline">
                            Load more items
                        </button>
                    </div>
                </div>
            </div> {% endcomment %}
        </div>
    </section>
    <!--=====================================
                WISHLIST PART END
    =======================================-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>



        $(document).ready(function(e){
            $('#tableList').on('click', '.remove-from-wishlist', function(e){
                e.preventDefault()
                const productId = $(this).data('id');
                const csrftoken = getCookie('csrftoken');

                $.ajax({
                    type:'post',
                    url: `/products/remove_from_wish/`,
                    data: {'productId':productId} ,
                    headers:{"X-CSRFToken": csrftoken }, // HERE: add it to the request header
                    dataType: 'json',
                    success:function(response){
                        $('#tableList').html(response['result'])

                        let favoritesCount = response['favorites_count'] <= 9 ? response['favorites_count'] : '9+';
                        $('#favoritesCount').text(favoritesCount);
                        $('#favoritesCountMobile').text(favoritesCount);
                    },
                    error:function(err){
                        console.log(err)
                    }
                })
            })  
        })
    </script>
{% endblock body %}