{% load i18n %}

<div class="account-content">
    <div class="row">
        {% for address in user_adress %}
            <div class="col-md-6 col-lg-4 alert fade show">
                <div class="profile-card address  {% if address.active %}active{% endif %}" data-id='{{address.id}}'>
                    <h6>{{address.type}}</h6>
                    <p>{{address.country}}, {{address.city}}, {{address.state}}. {{address.region}}, {{address.street}}</p>
                    <ul class="user-action">
                        <li><button class="edit icofont-edit" title="Edit This" data-bs-toggle="modal" data-bs-target="#address-edit-{{address.id}}"></button></li>
                        <li><button class="trash icofont-ui-delete delete-btn" title="Remove This" data-bs-dismiss="alert"></button></li>
                    </ul>
                </div>
            </div>


            <!-- address edit form -->
            <div class="modal fade" id="address-edit-{{address.id}}">
                <div class="modal-dialog modal-dialog-centered"> 
                    <div class="modal-content">
                        <button class="modal-close" data-bs-dismiss="modal"><i class="icofont-close"></i></button>
                        <form class="modal-form">
                            <div class="form-title">
                                <h3>{% translate "edit address info" %}</h3>
                            </div>
                            <div class="form-group">
                                <label class="form-label">{% translate "title" %}</label>
                                <select class="form-select">
                                    <option value="home" {% if address.type == 'Home' %}selected{% endif %}>home</option>
                                    <option value="bussiness" {% if address.type == 'Bussiness' %}selected{% endif %}>bussiness</option>
                                    <option value="office" {% if address.type == 'Office' %}selected{% endif %}>office</option>
                                    <option value="others" {% if address.type == 'Others' %}selected{% endif %}>others</option>
                                </select>        
                            </div>
                            <div class="form-group">
                                <label class="form-label">{% translate "address" %}</label>
                                <textarea class="form-control" placeholder="jalkuri, fatullah, narayanganj-1420. word no-09, road no-17/A"></textarea>
                            </div>
                            <button class="form-btn" type="submit">{% translate "save address info" %}</button>
                        </form>
                    </div> 
                </div> 
            </div>
        {% endfor %}
    </div>
</div>