{% load i18n %}

<div class="account-content">
    <div class="row">
        {% for address in user_adress %}
            <div class="col-md-6 col-lg-4 alert fade show">
                <div class="profile-card address  {% if address.active %}active{% endif %}" data-id='{{address.id}}'>
                    <h6>{% translate address.type %}</h6>
                    <p>{{address.country}}, {{address.city}}, {{address.state}}. {{address.region}}, {{address.street}}</p>
                    <ul class="user-action">
                        <li><button class="edit icofont-edit" title="Edit This" data-bs-toggle="modal" data-bs-target="#address-edit-{{address.id}}"></button></li>
                        <li><button class="trash icofont-ui-delete delete-btn" title="Remove This" data-bs-dismiss="alert"></button></li>
                    </ul>
                </div>
            </div>


            <!-- address edit form -->
            <div class="modal fade address-edit-modal" id="address-edit-{{address.id}}">
                <div class="modal-dialog modal-dialog-centered"> 
                    <div class="modal-content">
                        <button class="modal-close" data-bs-dismiss="modal"><i class="icofont-close"></i></button>
                        <form class="modal-form address-edit-form" method="post" action="{% url 'accounts:edit_profile_address' %}">
                            <div class="form-title">
                                <h3>{% translate "edit address info" %}</h3>
                            </div>
                            <div class="form-group">
                                <label class="form-label">{% trans "title" %}</label>
                                <select required name="type" class="form-select">
                                    <option value="">{% trans "choose type" %}</option>
                                    <option value="Home" {% if address.type == 'Home' %}selected{% endif %}>{% translate "Home" %}</option>
                                    <option value="Bussiness" {% if address.type == 'Bussiness' %}selected{% endif %}>{% trans "Bussiness" %}</option>
                                    <option value="Office" {% if address.type == 'Office' %}selected{% endif %}>{% trans "Office" %}</option>
                                    <option value="Others" {% if address.type == 'Others' %}selected{% endif %}>{% trans "Others" %}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-label">{% translate "country" %}</label>
                                <select required name="country" class="form-select">
                                    <option value="">{% trans "choose type" %}</option>
                                    {% for country in country_list %}
                                        <option {% if address.country == country %}selected{% endif %} value="{{country.id}}">{{country}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-label">{% trans "city" %}</label>
                                <select required name="city" class="form-select">
                                    <option value="">{% trans "choose type" %}</option>
                                    {% for city in city_list %}
                                        <option {% if address.city == city %}selected{% endif %} value="{{city.id}}">{{city}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-label">{% trans "state" %}</label>
                                <input required id="" class="form-control" name="state" type="text" value="{{address.state}}">
                                
                            </div>
                            <div class="form-group">
                                <label class="form-label">{% trans "region" %}</label>
                                <input required id="" class="form-control" name="region" type="text" value="{{address.region}}">
                                
                            </div>
                            <div class="form-group">
                                <label class="form-label">{% trans "street" %}</label>
                                <input required id="" class="form-control" name="street" type="text" value="{{address.street}}">
                            </div>
                            <div class="form-group">
                                <label class="form-label">{% trans "notes" %}</label>
                                <textarea class="form-control" name="notes" value="{{address.notes}}"></textarea>
                            </div>
                            <input type="hidden" name="id" value="{{address.id}}">
                            <button class="form-btn" type="submit">{% trans "save address info" %}</button>
                        </form>
                    </div> 
                </div> 
            </div>
        {% endfor %}
    </div>
</div>