{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block link %}
    {% if LANGUAGE_CODE == 'ar' %}
        <link rel="stylesheet" href="{% static 'rtl_static/css/brand-single.css' %}" />
    {% else %}
        <link rel="stylesheet" href="{% static 'css/brand-single.css' %}" />
    {% endif %}
{% endblock link %}




{% block body %}
    
        <!--=====================================
                    BANNER PART START
        =======================================-->
        <section class="single-banner" style="background: url(images/single-banner.jpg) no-repeat center;">
            <div class="container">
                <h2>Brand Single</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="brand-list.html">brand-list</a></li>
                    <li class="breadcrumb-item active" aria-current="page">brand-single</li>
                </ol>
            </div>
        </section>
        <!--=====================================
                    BANNER PART END
        =======================================-->


        <!--=====================================
                    BRAND SINGLE PART START
        =======================================-->
        <div class="brand-single">
            {% if brand.image %}
                <a href="#"><img src="{{brand.image.url}}" alt="brand"></a>
            {% else %}
                <a href="#"><img src="{% static 'default.jpg' %}" alt="brand"></a>
            {% endif %}
            <a href="#"><h3>{{brand}}</h3></a>
            <ul>
                <li class="fas fa-star {% if rating_avg|floatformat:"0" >= "1" %}active{% endif %}"></li>
                <li class="fas fa-star {% if rating_avg|floatformat:"0" >= "2" %}active{% endif %}"></li>
                <li class="fas fa-star {% if rating_avg|floatformat:"0" >= "3" %}active{% endif %}"></li>
                <li class="fas fa-star {% if rating_avg|floatformat:"0" >= "4" %}active{% endif %}"></li>
                <li class="fas fa-star {% if rating_avg|floatformat:"0" >= "5" %}active{% endif %}"></li>
                <li class="total">({{rating_count}} {% trans "rating" %})</li>
            </ul>
            <p>({{brand.product_brand.count}} {% trans "items" %})</p>
        </div>
        <!--=====================================
                    BRAND SINGLE PART END
        =======================================-->


        <!--=====================================
                    SHOP PART START
        =======================================-->
        <section class="inner-section shop-part mt-5">
            <div class="container">
                <div class="row row-cols-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-5">
                    {% for product in product_list %}
                        <div class="col">
                            {% include 'products/include/extend/product_card.html' %}
                        </div>
                    {% endfor %}
                </div>

                {% include 'products/include/extend/cbv_pagination.html' %}

            </div>
        </section>
        <!--=====================================
                    SHOP PART END
        =======================================-->
        

{% endblock body %}