{% extends 'base.html' %}
{% load i18n %}
{% load static %}


{% block title %}{% translate "Categories" %}{% endblock title %}

{% block body %}
        <!--=====================================
                    BANNER PART START
        =======================================-->
        <section class="inner-section single-banner" style="background: url({% static 'images/single-banner.jpg' %}) no-repeat center;">
            <div class="container">
                <h2>{% translate "all categories" %}</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home:home_page' %}">{% trans "home" %}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{% translate "all categories" %}</li>
                </ol>
            </div>
        </section>
        <!--=====================================
                    BANNER PART END
        =======================================-->


        <!--=====================================
                    CATEGORY PART START
        =======================================-->
        <section class="inner-section">
            <div class="container">
                <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 justify-content-center">
                    {% for category in category_list %}
                        <div class="col">
                            <div class="category-wrap">
                                <div class="category-media">
                                    <img src="{{category.image.url}}" alt="category">
                                    <div class="category-overlay">
                                        <a href="shop-3column.html"><i class="fas fa-link"></i></a>
                                    </div>
                                </div>
                                <div class="category-meta">
                                    <h4>{{category}}</h4>
                                    <p>({{category.product_count}} {% translate "items" %})</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% include 'products/include/extend/cbv_pagination.html' %}
            </div>
        </section>
        <!--=====================================
                    CATEGORY PART END
        =======================================-->
{% endblock body %}
