{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% translate "Products" %}{% endblock title %}

{% block body %}
    <!--=====================================
                BANNER PART START
    =======================================-->
    <section class="inner-section single-banner" style="background: url({% static 'images/single-banner.jpg' %}) no-repeat center;">
        <div class="container">
            <h2>{% translate "Products" %}</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home:home_page' %}">{% trans "home" %}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{% translate "products" %}</li>
            </ol>
        </div>
    </section>
    <!--=====================================
                BANNER PART END
    =======================================-->


    <!--=====================================
                SHOP PART START
    =======================================-->
    <section class="inner-section shop-part">
        <div class="container">
            <div class="row content-reverse">
                <div class="col-lg-3">
                    <div class="shop-widget">
                        <h6 class="shop-widget-title">{% translate "Filter by Price" %}</h6>
                        <form method="get" id="priceFilter" action="{% url 'products:product_filter' %}">
                            <div class="shop-widget-group">
                                <input type="text" id="minPrice" name="min-price" placeholder="{% translate "Min" %} - 00">
                                <input type="text" id="maxPrice" name="max-price" placeholder="{% translate "Max" %} - 5k">
                            </div>

                        </form>
                        <button  class="shop-widget-btn filter-search">
                            <i class="fas fa-search"></i>
                            <span>{% trans "search" %}</span>
                        </button>
                    </div>
                    <div class="shop-widget">
                        <h6 class="shop-widget-title">{% trans "Filter by Rating" %}</h6>
                        <form id="ratingFilter">
                            <ul class="shop-widget-list">
                                <li>
                                    <div class="shop-widget-content">
                                        <input type="checkbox" class="filter-checkbox" data-filter="rating" id="feat1" value="5">
                                        <label for="feat1">
                                            <i class="fas fa-star active"></i>
                                            <i class="fas fa-star active"></i>
                                            <i class="fas fa-star active"></i>
                                            <i class="fas fa-star active"></i>
                                            <i class="fas fa-star active"></i>
                                        </label>
                                    </div>
                                    <span class="shop-widget-number"></span>
                                </li>
                                <li>
                                    <div class="shop-widget-content">
                                        <input type="checkbox" class="filter-checkbox" data-filter="rating" id="feat2" value="4">
                                        <label for="feat2">
                                            <i class="fas fa-star active"></i>
                                            <i class="fas fa-star active"></i>
                                            <i class="fas fa-star active"></i>
                                            <i class="fas fa-star active"></i>
                                            <i class="fas fa-star"></i>
                                        </label>
                                    </div>
                                    <span class="shop-widget-number"></span>
                                </li>
                                <li>
                                    <div class="shop-widget-content">
                                        <input type="checkbox" class="filter-checkbox" data-filter="rating" id="feat3" value="3">
                                        <label for="feat3">
                                            <i class="fas fa-star active"></i>
                                            <i class="fas fa-star active"></i>
                                            <i class="fas fa-star active"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </label>
                                    </div>
                                    <span class="shop-widget-number"></span>
                                </li>
                                <li>
                                    <div class="shop-widget-content">
                                        <input type="checkbox" class="filter-checkbox" data-filter="rating" id="feat4" value="2">
                                        <label for="feat4">
                                            <i class="fas fa-star active"></i>
                                            <i class="fas fa-star active"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </label>
                                    </div>
                                    <span class="shop-widget-number"></span>
                                </li>
                                <li>
                                    <div class="shop-widget-content">
                                        <input type="checkbox" class="filter-checkbox" data-filter="rating" id="feat5" value="1">
                                        <label for="feat5">
                                            <i class="fas fa-star active"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </label>
                                    </div>
                                    <span class="shop-widget-number"></span>
                                </li>
                            </ul>
                            <button class="shop-widget-btn">
                                <i class="far fa-trash-alt"></i>
                                <span>{% translate "clear filter" %}</span>
                            </button>
                        </form>
                    </div>
                    <div class="shop-widget">
                        <h6 class="shop-widget-title">{% translate "Filter by Tag" %}</h6>
                        <form>
                            <ul class="shop-widget-list">
                                <li>
                                    <div class="shop-widget-content">
                                        <input type="checkbox" class="filter-checkbox" data-filter="flag" value="New" id="tag1">
                                        <label for="tag1">{% translate "new items" %}</label>
                                    </div>
                                    <span class="shop-widget-number"></span>
                                </li>
                                <li>
                                    <div class="shop-widget-content">
                                        <input type="checkbox" class="filter-checkbox" data-filter="flag" value="Featured" id="tag2">
                                        <label for="tag2">{% translate "feature items" %}</label>
                                    </div>
                                    <span class="shop-widget-number"></span>
                                </li>
                            </ul>
                            <button class="shop-widget-btn">
                                <i class="far fa-trash-alt"></i>
                                <span>{% translate "clear filter" %}</span>
                            </button>
                        </form>
                    </div>
                    <div class="shop-widget">
                        <h6 class="shop-widget-title">{% translate "Filter by Brand" %}</h6>
                        <form>
                            <ul class="shop-widget-list shop-widget-scroll">
                                {% for brand in brand_info %}
                                    <li>
                                        <div class="shop-widget-content">
                                            <input type="checkbox" class="filter-checkbox" data-filter="brand" id="brand-{{brand.id}}" value="{{brand.id}}">
                                            <label for="brand-{{brand.id}}">{{brand}}</label>
                                        </div>
                                        <span class="shop-widget-number"></span>
                                    </li>
                                {% endfor %}
                            </ul>
                            <button class="shop-widget-btn">
                                <i class="far fa-trash-alt"></i>
                                <span>{% trans "clear filter" %}</span>
                            </button>
                        </form>
                    </div>
                    <div class="shop-widget">
                        <h6 class="shop-widget-title">{% translate "Filter by Category" %}</h6>
                        <form>
                            <input class="shop-widget-search" type="text" placeholder="{% translate "Search" %}...">
                            <ul class="shop-widget-list shop-widget-scroll">
                                {% for category in category_info %}
                                    <li>
                                        <div class="shop-widget-content">
                                            <input type="checkbox" class="filter-checkbox" data-filter="category" id="category-{{category.id}}" value="{{category.id}}">
                                            <label for="category-{{category.id}}">{{category}}</label>
                                        </div>
                                        <span class="shop-widget-number"></span>
                                    </li>
                                {% endfor %}

                            </ul>
                            <button class="shop-widget-btn">
                                <i class="far fa-trash-alt"></i>
                                <span>{% translate "clear filter" %}</span>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div id="productList">
                        {% include "products/include/product_list_div.html" %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=====================================
                SHOP PART END
    =======================================-->     

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(function(e){
            // $(document).on('submit', '#priceFilter', function(e){
            //     e.preventDefault();
            //     // recieve data from Form
            //     $.ajax({
            //         type:$(this).attr('method') ,
            //         url:$(this).attr('action') ,
            //         data:$(this).serialize() ,
            //         dataType:'json' ,
            //         success:function(response){
            //             $('#productList').html(response['result'])
            //             console.log(response);
            //         },
            //         error:function(err){
            //             console.log(err)
            //         }
            //     })
            // }),

            $(".filter-checkbox, .filter-search").on('click', function(){
                var filter_object={};
                $(".filter-checkbox").each(function(index,ele){
                    var filter_value=$(this).val();
                    var filter_key=$(this).data('filter');
                    // console.log(filter_key,filter_value);
                    filter_object[filter_key]=Array.from(document.querySelectorAll('input[data-filter='+filter_key+']:checked')).map(function(el){
                        return el.value;
                    });
                });

                var minPrice = $('#minPrice').val()
                var maxPrice = $('#maxPrice').val()
                filter_object['min_price'] = minPrice
                filter_object['max_price'] = maxPrice
                console.log(filter_object)

                $.ajax({
                    url:'/products/filter/',
                    data: filter_object,
                    dataType: 'json',
                    success:function(response){
                        $('#productList').html(response['result'])
                    },
                    error:function(err){
                        console.log(err)
                    }
                })

            })

            
            $(document).on('submit', '#addToFavForm', function(e){
                e.preventDefault();

                const productId = e.target.getAttribute('data-form-id')
                const clickedBtn = document.getElementById(`favorite-${productId}`)
                
                $.ajax({
                    method : 'POST' ,
                    url : '/products/add_to_wish/' ,
                    data : {'productid':productId , 'csrfmiddlewaretoken': "{{csrf_token}}"},
                    dataType :'json',
                    success : function(response){
                        if (response['result']) {
                            $(clickedBtn).addClass('active');
                        } else {
                            $(clickedBtn).removeClass('active');
                        }
                        
                        let favoritesCount = response['favorites_count'] <= 9 ? response['favorites_count'] : '9+';
                        $('#favoritesCount').text(favoritesCount);
                        $('#favoritesCountMobile').text(favoritesCount);
                    },
                    error : function(err){
                        console.log(err)
                    }
                })
            });

            $(document).on('submit', '#addToCartForm', function(e){
                e.preventDefault();
                $.ajax({
                    type: $(this).attr('method'),
                    url:$(this).attr('action'),
                    data:$(this).serialize() ,
                    dataType:'json',
                    success:function(response){
                    console.log('added')
                        $('#cartSidebar').html(response['result'])

                        let cartCount = response['count'] <= 9 ? response['count'] : '9+';

                        document.getElementById('cartTotal').textContent=response['total']
                        document.getElementById('cartCount').textContent=cartCount
                        document.getElementById('cartCountMobile').textContent=cartCount
                    },
                    error:function(err){
                        console.log(err)
                    }
                })
            })
        })
        
    </script>
{% endblock body %}


