{% extends 'base.html' %}
{% load static %}
{% load i18n %}



{% block title %}
    <title>{{product.name}}</title>
{% endblock title %}



{% block link %}
    
    {% if LANGUAGE_CODE == 'ar' %}
        <link rel="stylesheet" href="{% static 'rtl_static/css/product-details.css' %}">
    {% else %}
        <link rel="stylesheet" href="{% static 'css/product-details.css' %}">
{% endif %}
{% endblock link %}

{% block body %}

    <!--=====================================
                BANNER PART START
    =======================================-->
    <section class="single-banner inner-section" style="background: url(images/single-banner.jpg) no-repeat center;">
        <div class="container">
            <h2>product simple</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="shop-4column.html">shop-4column</a></li>
                <li class="breadcrumb-item active" aria-current="page">product-simple</li>
            </ol>
        </div>
    </section>
    <!--=====================================
                BANNER PART END
    =======================================-->


    <!--=====================================
            PRODUCT DETAILS PART START
    =======================================-->
    <section class="inner-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="details-gallery">
                        <div class="details-label-group">
                            <label class="details-label {% if product.flag == "New" %}new{% elif  product.flag == "Featured" %}feat{% endif %}">{% translate product.flag %}</label>
                            {% comment %} <label class="details-label off">-10%</label> {% endcomment %}
                        </div>
                        <ul class="details-preview"> 
                            {% for object in images %}
                                <li><img src="{{object.image.url}}" alt="product"></li>
                            {% endfor %}
                        </ul>
                        <ul class="details-thumb">
                            {% for object in images %}
                                <li><img src="{{object.image.url}}" alt="product"></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="details-content">
                        <h3 class="details-name"><a href="#">{{product}}</a></h3>
                        <div class="details-meta">
                            <p>{% translate "SKU" %}:<span>{{product.sku}}</span></p>
                            <p>{% trans "BRAND" %}:<a href="#">{{product.brand}}</a></p>
                        </div>
                        <div class="details-rating">
                            <i class="{% if product.get_avg_reviews.myavg|floatformat:"0" >= "1" %} active {% endif %} icofont-star"></i>
                            <i class="{% if product.get_avg_reviews.myavg|floatformat:"0" >= "2" %} active {% endif %} icofont-star"></i>
                            <i class="{% if product.get_avg_reviews.myavg|floatformat:"0" >= "3" %} active {% endif %} icofont-star"></i>
                            <i class="{% if product.get_avg_reviews.myavg|floatformat:"0" >= "4" %} active {% endif %} icofont-star"></i>
                            <i class="{% if product.get_avg_reviews.myavg|floatformat:"0" == "5" %} active {% endif %}icofont-star"></i>
                            <a href="#reviews-section">(<span id="reviewsCount">{{product.product_review.all|length}}</span> {% translate "reviews" %})</a>
                        </div>
                        <h3 class="details-price">
                            {% if product.price_before_discount %}
                                <del>${{product.price_before_discount}}</del>
                            {% endif %}
                            <span>${{product.price}}</span>
                        </h3>
                        {% comment %} <p class="details-desc">{{product.desc|safe|truncatewords:20}}</p> {% endcomment %}
                        <div class="details-list-group">
                            <label class="details-list-title">{% translate "tags" %}:</label>
                            <ul class="details-tag-list">
                                {% for tag in product.tags.all %}
                                    <li><a href="#">{{tag}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="details-list-group">
                            <label class="details-list-title">{% translate "Share" %}:</label>
                            <ul class="details-share-list">
                                <li><a href="#" class="icofont-facebook" title="Facebook"></a></li>
                                <li><a href="#" class="icofont-twitter" title="Twitter"></a></li>
                                <li><a href="#" class="icofont-linkedin" title="Linkedin"></a></li>
                                <li><a href="#" class="icofont-instagram" title="Instagram"></a></li>
                            </ul>
                        </div>

                        <div class="details-add-group">
                            <form method="post" id="addToCartForm" action="{% url 'orders:add_to_cart' %}">
                                {% csrf_token %}
                                <!-- <input class="action-input myinput" title="Quantity Number" type="text" name="quantity" value="1"> -->
                                <input type="hidden" value="{{product.id}}" name="productid">
                                <div class="row">
                                    <div class="col-6">
                                        <button class="product-add myinput" title="{% translate "Add to Cart" %}">
                                            <i class="fas fa-shopping-basket"></i>
                                            <span>{% translate "add to cart" %}</span>
                                        </button>
                                    </div>
                                    <div class="col-6">
                                        <div class="product-action" style="display: flex;">
                                            <button class="action-minus" title="{% translate "Quantity Minus" %}"><i class="icofont-minus"></i></button>
                                            <input class="action-input" title="{% translate "Quantity Number" %}" type="text" name="quantity" value="1">
                                            <button class="action-plus" title="{% translate "Quantity Plus" %}"><i class="icofont-plus"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="details-action-group">
                            <button id="addToFavBtn" class="details-wish wish {% if product in user.Profile.favorites.all %}active{% endif %}" data-id="{{product.id}}" title="{% translate "Add Your Wishlist" %}">
                                <i class="icofont-heart"></i>
                                <span>{% translate "add to wish" %}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=====================================
            PRODUCT DETAILS PART END
    =======================================-->


    <!--=====================================
                PRODUCT TAB PART START
    =======================================-->
    <section class="inner-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product-details-frame">
                        <h3 class="frame-title">{% translate "Description" %}</h3>
                        <div class="tab-descrip">
                            <p>{{product.desc|safe}}</p>
                        </div>
                    </div>
                    <div class="product-details-frame">
                        <div id="review-div">
                            {% include "products/include/reviews.html" %}
                        </div>
                    </div>
                    <div class="product-details-frame">
                        <h3 class="frame-title">{% translate "add your review" %}</h3>
                        <form class="review-form" id="review-form" method="post" action="{% url 'products:add_review' product.slug %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="star-rating">
                                        <input type="radio" name="rate" value="5" id="star-1"><label for="star-1"></label>
                                        <input type="radio" name="rate" value="4" id="star-2"><label for="star-2"></label>
                                        <input type="radio" name="rate" value="3" id="star-3"><label for="star-3"></label>
                                        <input type="radio" name="rate" value="2" id="star-4"><label for="star-4"></label>
                                        <input type="radio" name="rate" value="1" id="star-5"><label for="star-5"></label>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <textarea class="form-control" name="review" placeholder="{% translate "descripe your review" %}"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <button class="btn btn-inline" type="submit">
                                        <i class="icofont-water-drop"></i>
                                        <span>{% translate "drop your review" %}</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=====================================
                PRODUCT TAB PART END
    =======================================-->


    <!--=====================================
                PRODUCT RELATED PART START
    =======================================-->
    <section class="inner-section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section-heading">
                        <h2>{% translate "related this items" %}</h2>
                    </div>
                </div>
            </div>
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                {% for product in related %}
                    <div class="col">
                        {% include 'products/include/extend/product_card.html' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!--=====================================
                PRODUCT RELATED PART END
    =======================================-->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(function(e){
            $(document).on('submit', '#review-form', function(e){
                e.preventDefault();
                // recieve data from Form
                $.ajax({
                    type:$(this).attr('method') ,
                    url:$(this).attr('action') ,
                    data:$(this).serialize() ,
                    dataType:'json' ,
                    success:function(response){
                        $('#review-div').html(response['result']);
                        $('#reviewsCount').text(response['reviews_count']);
                    },
                    error:function(err){
                        console.log(err)
                    }
                })
            })

            $(document).on('click', '#addToFavBtn', function(e){
                const productId = $(this).data('id');
                const clickedBtn = $(this);

                $.ajax({
                    method : 'POST' ,
                    url : '/products/add_to_wish/' ,
                    data : {'productid':productId , 'csrfmiddlewaretoken': "{{csrf_token}}"},
                    dataType :'json',
                    success : function(response){
                        if (response['result']) {
                            $(clickedBtn).addClass('active');
                        } else {
                            $(clickedBtn).removeClass('active');
                        }
                        
                        let favoritesCount = response['favorites_count'] <= 9 ? response['favorites_count'] : '9+';
                        $('#favoritesCount').text(favoritesCount);
                        $('#favoritesCountMobile').text(favoritesCount);
                    },
                    error : function(err){
                        console.log(err);
                    }
                })
            })


            $(document).on('submit', '#addToCartForm', function(e){
                e.preventDefault();
                $.ajax({
                    type:$(this).attr('method') ,
                    url:$(this).attr('action') ,
                    data:$(this).serialize() ,
                    dataType:'json' ,
                    success:function(response){
                        $('#cartSidebar').html(response['result'])

                        let cartCount = response['count'] <= 9 ? response['count'] : '9+';

                        document.getElementById('cartTotal').textContent=response['total']
                        document.getElementById('cartCount').textContent=cartCount
                        document.getElementById('cartCountMobile').textContent=cartCount
                    },
                    error:function(err){
                        console.log(err)
                    }
                })
            })
        })
    </script>

{% endblock body %}